<div class="zun-expense">

    <div class="header-area">
        <div class="app-title">ZUN expense</div>
        <div class="user-name">{{ loginUser.userName }}&nbsp;({{ loginUser.userId }})</div>
        <button class="logout">ログアウト</button>    
    </div>
    <div class="form-area frame">
        <div class="caption">経費入力</div>

        <div class="form-item-area">
            <div class="form-item">
                <label class="required">支払先</label>
                <input type="text" name="請求先"  [(ngModel)]="editingExpense.source" />    
            </div>
            <div class="form-item">
                <label class="required">取引日</label>
                <input type="date"  [(ngModel)]="editingExpense.date" />                
            </div>
            <div class="form-item">
                <label class="required">金額</label>
                <input type="number" min="0" [(ngModel)]="editingExpense.ammountOfMoney" /><span class="unit">円</span>                
            </div>
            <div class="form-item">
                <label class="required">費目</label>
                <select [(ngModel)]="editingExpense.himoku">
                    <option>費目を選択</option>
                    <option>交通費</option>
                    <option>出張手当</option>
                    <option>消耗品</option>
                    <option>その他</option>
                </select>                
            </div>
            <div class="form-item large">
                <label>添付ファイル</label>
                <input type="file" id="attachment_file" [(ngModel)]="editingExpense.files" [ngClass]="{ 'file-selected': fileSelected }" />
                <label for="attachment_file"><button>ファイルを選択</button></label>
            </div>
            <div class="form-item large">
                <label>特記事項</label>
                <textarea  [(ngModel)]="editingExpense.memo"></textarea>
            </div>    
        </div>

        <div class="button-area">
            <button>クリア</button>
            <button (click)="add(editingExpense)">追加</button>
            <button class="delete" (click)="delete(editingExpense);clear()">削除</button>
        </div>
    
    </div>
    
    
    <div class="list-area frame">
        <div class="caption">経費一覧</div>

        <div class="control-area">
            <div class="form-item large">
                <label>申請月切り替え</label>
                <select [(ngModel)]="selectedYYYYMM">
                   <ng-container *ngFor="let yyyymm of yyyymmList;">
                       <option [value]="yyyymm">{{ yyyymm }}</option>
                   </ng-container>
               </select>
               <button (click)="changeYYYYMM()">変更</button>   
            </div>    
        </div>

        <div class="scroll-area">
            <table>
                <tbody>
                    <tr>
                        <th class="id">#</th>
                        <th class="no">申請番号</th>
                        <th class="source">支払先</th>
                        <th chass="date">発生日</th>
                        <th class="himoku">費目</th>
                        <th class="ammount">金額</th>
                        <th class="file">添付ファイル</th>
                        <th class="memo">特記事項</th>
                        <th class="status">ステータス</th>
                        <th class="control">操作</th>
                    </tr>
                    <ng-container *ngFor="let data of expenseListData;let idx = index">
                        <tr>
                            <td class="id center">{{ idx + 1 }}</td>
                            <td class="no">{{ data.no }}</td>
                            <td class="source">{{ data.source }}</td>
                            <td class="date center">{{ formattedDate(data.date) }}</td>
                            <td class="himoku">{{ data.himoku }}</td>
                            <td class="ammount right">{{ formattedYen(data.ammountOfMoney) }}</td>
                            <td class="file center">無</td>
                            <td class="memo" [title]="data.memo">{{ data.memo }}</td>
                            <td class="status center">{{ data.status }}</td>
                            <td class="control center">
                                <button *ngIf="editable()" (click)="edit(data)">編集</button>
                                <button *ngIf="editable()" (click)="delete(data)" class="delete">削除</button>
                            </td>
                        </tr>    
                    </ng-container>
                </tbody>
            </table>    
        </div>
    
        <div class="button-area">
            <button>経費申請</button>
            <button>Excel出力</button>
            <button>csvエクスポート</button>
        </div>
    
    </div>
        
</div>
